@use "../../scss/media-query" as *;

.rectangle-small {
  position: absolute;
  height: 15vh;
  width: 100%;
  left: 0;
  top: 68vh;
  align-self: end;
  z-index: 998;
  @include md {
    display: none;
  }
}

.rectangle {
  display: none;

  @include md {
    display: block;
    position: absolute;
    left: 0;
    top: 60vh;
    height: auto;
    max-width: 80%;
    border-radius: 0 100px 100px 0;
    z-index: 998;
  }

  @include lg{
    top: 60vh;
    max-width: 80%;
  }

    @include xl{
    top: 62vh;
  }

  @include rwd(1400){
    top: 64vh;
    max-width: 70%;
  }

   @include rwd(2500){
    top: 65vh;
    max-width: 100%;
  }
}
