@use "../../scss/media-query" as *;

.rectangle-small {
  position: absolute;
  height: 15vh;
  width: 100%;
  left: 0;
  top: 82vh;
  align-self: end;
  z-index: 998;
  @include sm {
    display: none;
  }
}

.rectangle {
  display: none;
  @include sm {
    display: block;

    left: 0;
    top: 80vh;
    width: 55%;
    border-radius: 0 100px 100px 0;
  }
}
