@use "../../variables/variables.scss";
@use "../../scss/media-query" as *;

.navigation {
  width: 100%;
  height: 100%;
  color: variables.$primary-color;

  @include sm {
    grid-column: 1/10;
  }
}

.navigation-desktop{
  @media screen and (max-width: 768px){
    display: none;
  }
}