@use "../../variables/variables.scss";
@use "../../scss/media-query" as *;

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  text-align: center;
  color: variables.$primary-color;
  grid-column: 1/5;
  grid-row: 2/3;
  background-color: variables.$background-secondary-color;
  .name {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 0.6vh;
    @include sm {
      font-size: 2rem;
    }

    @include md {
      display: none;
    }
  }
  .role {
    position: relative;
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.9vh;

    .subtitle-contact-desktop {
      @media screen and (max-width: 768px) {
        display: none;
      }
      

      @include md {
        display: flex;
        position: absolute;
        left: 45vw;
        top: 62%;
        text-align: left;
        font-size: 5vw;
        padding-left: 4vw;
        text-decoration: underline variables.$secondary-color;
        .arrow-d{
          margin-top: 0.8vh;
          font-size: 4vw;
        }
      }
      @include xl{
        left: 30vw;
        top: 62%;
        font-size: 2.5vw;
        .arrow-d{
          margin-top: 0.4vh;
          font-size: 2.5vw;
        }
      }
    }

    @include sm {
      font-size: 1.6rem;
    }

    @include md {
      display: flex;
      text-align: left;
      font-size: 6.4vw;
      padding-left: 4vw;
    }

    @include xl{
      font-size: 4vw;
    }
  }

  @include sm {
    grid-column: 1/13;
  }

  @include xl{
    grid-column: 3/11;
  }
}
