@use "../variables/variables.scss";
@use "../scss/media-query" as *;

header {
  display: grid;
  width: 100%;
  height: auto;
  border-bottom: 3px variables.$primary-color solid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  grid-column-gap: 2vw;
  align-items: center;
  padding: 0 6vw;
  position: fixed;
  top: 0;
  background-color: variables.$background-primary-color;
  z-index: 999;

  .button-hamburguer {
    display: grid;
    grid-column: 4/5;
    background: none;
    border: none;
    height: 9vh;
    .icon-menu {
      width: 100%;
      height: 100%;
      color: variables.$primary-color;
    }

    .icon-menu:active {
      color: variables.$secondary-color;
    }

    @include md {
      display: none;
    }
  }
  @include md {
    grid-template-columns: repeat(12, 1fr);
    height: 14vh;
  }
}

.button {
  background-color: variables.$secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  border: 1px solid variables.$primary-color;
  border-radius: 2vh;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.button-header {
  display: grid;
  grid-column: 1/3;
  width: 100%;
  height: 6vh;
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
  text-decoration: none;


  @include md {
    grid-column: 10/13;
    font-size: 0.7rem;
  }

  @include lg{
    font-size: 0.9rem;
  }
}
