@use "../../variables/variables.scss";
@use "../../scss/media-query" as *;

.form-group {
  grid-column: 1/5;
  position: relative;

  @include sm {
    grid-column: 1/13;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: variables.$background-secondary-color;
    font-family: "Lato", sans-serif;

    input[type="text"],
    input[type="email"] {
      padding: 3vw;
    }

    textarea {
      padding: 3vw;
    }

    textarea::placeholder {
      text-align: center;
      padding: 20% 0;
    }

    .form-items {
      color: variables.$secondary-color;
      background-color: transparent;
      margin-bottom: 2vh;
      border: 2px solid variables.$secondary-color;
      border-radius: 3vw;
      height: 8vh;
      width: 90%;
      

      &::placeholder {
        color: variables.$secondary-color;
      }

      // &:nth-child(3) {
      //   height: 25vh;
      // }

      // @include sm {
      //   &:nth-child(3) {
      //     height: 30vh;
      //     display: flex;
      //     align-items: center;
      //     justify-content: center;
      //   }
      // }
    }

    @include sm {
      grid-column: 1/13;
      border: 1px solid variables.$secondary-color;
      border-top: none;
      border-radius: 0 0 2vw 2vw;
    }
  }

  .modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81vw;
    height: 25vh;
    bottom: 12vh;
    left: 3.5vw;
    background-color: green;
    border: 1px solid rgba(206, 255, 206, 0.716);
    border-radius: 1vw;

    @include sm {
      width: 69vw;
      height: 5vh;
    }
    .modal-content {
      color: rgba(243, 249, 243, 0.716);
      font-size: 0.8rem;
      
      @include sm{
         font-size: 1rem;
      }

      @include xl{
         font-size: 1.6rem;
      }
    }
  }
}
