@use '../variables/variables.scss';

.content{
font-family: "Lato", sans-serif;
color: variables.$primary-color;
text-align: justify;
padding: 1vh;
}

.content-skills{
    color: aqua;
    width: 100%;
}