@use '../variables/variables.scss';
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: variables.$background-secondary-color;
    .form-items{
        color: variables.$secondary-color;
        background-color: transparent;
        margin-bottom: 2vh;
        border: 2px solid variables.$secondary-color;
        border-radius: 3vw;
        height: 8vh;
        width: 90%;
    }
    .form-items:nth-child(3){
        height: 25vh;
        
    }
    .form-items:nth-child(3)::placeholder{
        text-align: center;
        word-wrap: break-word;
        padding: 12px 16px 14px;
    }

    .form-items::placeholder{
      color:variables.$secondary-color;
      padding-left: 2vw; 
    }
}