@use '../variables/variables.scss';

.button{
    background-color: variables.$secondary-color;
    display: flex;
    align-items: center;
}

.button-header{
    display: grid;
    grid-column: 1/3;
    width: 100%;
    height: 6vh;
}