@use "../variables/variables.scss";
@use "../scss/media-query" as *;

main {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15vh auto 55vh 5vh 65vh auto auto auto auto;
  grid-column-gap: 2vw;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 6vw;
  margin-top: 15vh;
  .arrow {
    position: relative;
    top: 1vh;
    font-size: 1.6rem;
  }

  .contatct {
    grid-column: 1/5;
    grid-row: 2/3;
    @include sm {
      grid-column: 1/13;
      border: 1px solid variables.$secondary-color;
      border-radius: 2vw 2vw 0 0;
      border-bottom: none;
    }
  }

  .subtittle-main {
    grid-column: 1/5;
    grid-row: 1/2;
    color: variables.$primary-color;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 3vw;
    padding-top: 3vh;
    @media screen and (max-width: 767px) {
      display: none;
    }

    .subtittle-main-G {
      font-weight: 400;
      font-size: 5vw;
    }
    @include sm {
      grid-column: 1/13;
    }
    @include lg {
      grid-column: 3/11;
    }

    
  }

  .elipse-vermelha {
    position: absolute;
    top: 50vh;
    left: 24vw;
    width: 50vw;
    z-index: 998;
    @include md {
      top: 50vh;
      left: 20vw;
      width: 30%;
    }
    @include lg {
      top: 43vh;
      left: 17vw;
      width: 30%;
    }
    @include xl {
      top: 43vh;
      left: 17%;
      max-width: 400px;
    }

    @include rwd(1800) {
      top: 53vh;
      left: 30%;
    }
  }

  .elipse-laranja {
    position: absolute;
    top: 43vh;
    left: 27vw;
    width: 24vw;
    z-index: 997;

    @include md {
      top: 45vh;
      left: 20vw;
      width: 15vw;
    }
    @include lg {
      top: 35vh;
      left: 20vw;
      width: 15vw;
    }
    @include xl {
      top: 36vh;
      left: 20vw;
      max-width: 200px;
    }

      @include rwd(1800) {
      top: 47vh;
      left: 29vw;
    }
  }

  .sub-text {
    color: variables.$primary-color;
    position: absolute;
    top: 35vh;
    left: 57vw;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 2vh;
    margin-right: 1vw;
    @media screen and (max-width: 767px) {
      display: none;
    }

    @include rwd(1400){
      top: 45vh;
      font-size: 2rem;
    }
  }

  @include sm {
    padding: 0 12vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh auto 50vh 4vh 65vh auto auto auto auto;
  }
}
