@use "../variables/variables.scss";
@use "../scss/media-query" as *;

.content {
  font-family: "Lato", sans-serif;
  color: variables.$primary-color;
  text-align: justify;
  padding: 1vh;
  font-size: 1rem;

  @include rwd(1300) {
    font-size: 1.3rem;
  }
}
