@use "../variables/variables.scss";
@use "../scss/media-query" as *;

.content {
  font-family: "Lato", sans-serif;
  color: variables.$primary-color;
  text-align: justify;
  padding: 1vh;
  font-size: 4.6vw;

  @include md{
    font-size: 2.3vw;
  }

  @include lg{
    font-size: 2vw;
  }

  @include xl{
    font-size: 1.4vw;
  }

}
