.section-acordion{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:20% 60%;
    grid-column-gap: 2vw;
    grid-row: 6/7;
    grid-column: 1/5;
    height: 100%;
    height: 100%;
}