.section-acordion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 2vw;
  grid-row: 6/7;
  grid-column: 1/5;
}

.section-portifolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  grid-row: 7;
  grid-column: 1/5;
  grid-column-gap: 2vw;
  height: 100%;
  height: 100%;
}
