@use "../../variables/variables.scss";

.subtitle {
  color: variables.$primary-color;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.subtitle-contact {
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 2/4;
  grid-row: 1/2;
  width: 100%;
  text-align: left;
  font-size: 9vw;
  border-bottom: 3px solid variables.$secondary-color;
}

.subtitle-skills-portifolio {
  text-align: center;
  grid-row: 1/2;
  grid-column: 2/4;
  font-size: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh 0 ;
}

