@use "../variables/variables.scss";
@use "../scss/media-query" as *;

.items-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 4vh;
}

.items-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: variables.$primary-color;
  list-style: none;
  font-size: 0.6rem;
  height: 100%;
  li {
    padding: 0.4vh 0;
  }
  @include sm {
    font-size: 1em;
    padding-bottom: 1vh;
  }
}

.items-contact {
  height: 100%;
  width: 100;
  color: variables.$primary-color;
  background-color: variables.$background-secondary-color;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  padding: 3vh;
  word-wrap: break-word;
  li {
    margin-bottom: 2vh;
    .name-item {
      color: variables.$secondary-color;
    }
    a {
      text-decoration: none;
      color: variables.$primary-color;
    }
  }
  @include sm {
    border-radius: 2vw 2vw 0 0 ;
    border-bottom: none;
     li {
    font-size: 0.6em;
    margin-bottom: 2vh;
    .name-item {
      color: variables.$secondary-color;
    }
    a {
      text-decoration: none;
      color: variables.$primary-color;
    }
  }
  }
}
