@use "../variables/variables.scss";

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15vh 23vh 44vh 3vh 65vh 65vh;
  grid-column-gap: 2vw;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 6vw;

  .arrow {
    position: relative;
    top: 1vh;
  }

  .accordion {
    grid-row: 2/3;
    grid-column: 1/5;
  }
}
