@use "../variables/variables.scss";
@use "../scss/media-query" as *;

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15vh auto 50vh 5vh 65vh auto auto auto auto;
  grid-column-gap: 2vw;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0 6vw;
  margin-top: 15vh;
  .arrow {
    position: relative;
    top: 1vh;
    font-size: 1.6rem;
  }

  .contatct {
    grid-column: 1/5;
    grid-row: 2/3;
    @include sm {
      grid-column: 1/13;
      border: 1px solid variables.$secondary-color;
      border-radius: 2vw 2vw 0 0;
      border-bottom: none;
    }
  }

  .subtittle-main {
    grid-column: 1/5;
    grid-row: 1/2;
    color: variables.$primary-color;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 3vw;
    padding-top: 3vh;
    @media screen and (max-width: 767px) {
      display: none;
    }

    .subtittle-main-G {
      font-weight: 400;
      font-size: 5vw;
    }
    @include sm {
      grid-column: 1/13;
    }
  }

  .elipse-vermelha {
    position: absolute;
    top: 66vh;
    left: 27vw;
    width: 45vw;
    z-index: 998;
    @include md {
      top: 65vh;
      left: 27vw;
      width: 17vw;
    }
  }

  .elipse-laranja {
    position: absolute;
    top: 60vh;
    left: 27vw;
    width: 20vw;
    z-index: 997;

    @include md {
      top: 61vh;
      left: 25vw;
      width: 8vw;
    }
  }

  .sub-text {
    color: variables.$primary-color;
    position: absolute;
    top: 70vh;
    left: 60vw;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @include sm {
    padding: 0 12vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15vh auto 50vh 4vh 65vh auto auto auto auto;
  }
}
