@use './variables/variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 9vh;
}

body{
  background-color: variables.$background-primary-color;
}